/* Base table styling */
.xcsv {
    /* min-width: 600pt; */
}

@media print {
  #navbar {
    display: none;
  }

  #id-sidebar {
    display: none;
  }

  #id-button-sidebar{
    display: none;
  }

  #id-content {
    margin-left: 30pt;
    width: 900pt;
}
}

.NameBox {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  display: table;
}

table.table {
    /* margin-top: 40px; */
    margin-bottom: 20px;
    /* width: 100%; */
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    table-layout: auto;
    /* display: block; */
    overflow-y: scroll;
    overflow-wrap: break-word;
}

/* Table header styling */
.table th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

/* Table header specific styling */
.table th {
    background-color: #f2f2f2;
    color: #333;
}

.table tr {
    background-color: #fafafa;
}

.table tr:nth-child(even) {
    background-color: #f5fcff;
}

.table .vertical-bar-blue{
  position: relative;
}

.table .vertical-bar-blue::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: rgb(17, 125, 42);
}

/* tr:hover {
    background-color: #f1f1f1;
} */

/* Table caption styling */
/* caption {
    caption-side: bottom;
    padding: 10px;
    font-style: italic;
    color: #777;
} */

.table th:first-child {
    border-top-left-radius: 8px;
}

.table th:last-child {
    border-top-right-radius: 8px;
}

.table td:first-child {
    border-bottom-left-radius: 8px;
}

.table td:last-child {
    border-bottom-right-radius: 8px;
}


  /* Uncomment for Sticky Table */

  .table th {
    font-weight: bold;
    background-color: lightgray 
  }

  /* Sticky Table */
  
/* position: sticky does not work (properly) on <thead> or <tr>. Sticky defers to relevtive and relative does not appy to thead and tr */
  .table th {
    position: sticky;
    top: 60px;  

  }

  /* bigger line height, except for new lines */
  .table td:not(p > br + *) {

    line-height: 1.5;
  
  }

    /* 
  ###########################################################################
  # Gallery Items                                                           #
  ########################################################################### 
  */

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .image-gallery img {
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border: 1px solid #ccc;
  }

      /* 
  ###########################################################################
  # Text Items                                                              #
  ########################################################################### 
  */

  .xcsv-text {
    border: 1px solid #ccc;
  }

  .xcsv-text-summary {
    border: 1px solid #ccc;
  }

  .xcsv-text-description {
    border: 1px solid #ccc;
  }

  /* 
  ###########################################################################
  # Responsive                                                              #
  ########################################################################### 
  */

/* table {max-height: 500pt;}  will be overwritten  */

@media (max-height: 799px) {
    table.table {max-height: 600px;}
}

/* For screens with height between 800px and 1000px */
@media (min-height: 800px) and (max-height: 999px) {
    table.table {max-height: 700px;}
}

/* For screens with height greater than 1000px */
@media (min-height: 1000px) {
    table.table {max-height: 900px;}
}


  /* 
  ###########################################################################
  # Areas                                                           #
  ########################################################################### 
  */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  text-align: center;
}

.left, .right {
  flex: 0 0 15%;
}

.left {
  /* position: fixed; */

}

.middle {
  flex: 0 0 83%;
  padding-left: 5pt;
  /* overflow-x: scroll; */
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.sidebar {
  position: fixed !important;
  width:190pt;
  height: 75%;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fafafa;
}

.sidebar-button {
  position: fixed;
  top: 50pt;
  left: 155pt
}

#id-content {
  width: 1200pt;
  min-height: 1000pt;
}

#id-main {
  width: 900pt;
}