/*  item */
.itemD-container .itemD:first-child{
    border-top: none
}

.itemD {
    font-size: 0;   /* // to avoid spaces between inline block elements */
    width: 100%;
    white-space: nowrap;
    border-top: 1px solid #666666;
}

.itemD-left, .itemD-middle, .itemD-right {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
   /* min-height: 86px;  name (22px) + 2*5px padding + descriptiom (40) + 2*5px padding + 4xborder*/ 
    /* border: 1px solid #000; */
    box-sizing: border-box; /* width of divs include the border */
}

.itemD-left {
    width: 5%; /* Adjust width as needed */
    text-align: center;
    padding-top: 5px;
}

.itemD-middle {
    width: 70%; /* Adjust width as needed */
}

.itemD-right {
    width: 25%; /* Adjust width as needed */
    padding: 5px;
}

.itemD-name, .itemD-description {
    padding: 5px;
}

.itemD-name {
    font-size: 20px;
    font-weight: bold;
}

.itemD-description {
    font-size: 16px;
    min-height: 40px;
    line-height: 20px;
    text-wrap: balance
}



/* 
###############################################################
region layout                                                 #
############################################################### 

*/

body {
    margin: 0px;
    background-color: aqua;
}


#id-sidebar, #id-content {
    box-sizing: border-box; /* Include padding and border in width calculation */
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fafafa;
  }

#id-content {
    min-height: 800px;
  }
  
.sidebar-button {
    position: fixed;
    top: 50pt;
    left: 155pt;
    padding-block: 3px 
  }
  
  nav > drop:hover downH {
    display: block;
  }
  
  .flexDown {
    display: none;
  }
  
  .flexDrop:hover .flexDown {
    display: flex;
  }
  
  .flexDrop:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }


/* #region nameBox */

.NameBox {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  display: table;
  position: sticky;
  top: -1vh;
  z-index: 1;
  background-color: #fafafa;
}



/* ###############################################################
region tableStyle                                                #
############################################################### */



table.tableStyle-01 {
    /* margin-top: 40px; */
    margin-bottom: 20px;
    /* width: 100%; */
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    table-layout: auto;
    /* display: block; */
    overflow-y: scroll;
    overflow-wrap: break-word;
}

table.tableStyle-01 th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

/* Table header specific styling */
table.tableStyle-01 th {
    background-color: #f2f2f2;
    color: #333;
}

table.tableStyle-01 tr {
    background-color: #fafafa;
}

table.tableStyle-01 tr:nth-child(even) {
    background-color: #f5fcff;    
}

table.tableStyle-01 .vertical-bar-blue{
  position: relative;
}

table.tableStyle-01 .vertical-bar-blue::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: rgb(17, 125, 42);
}

/* Sticky header for tables */
.tableStyle-01 thead th {
  position: sticky;
  top: 4vh;
  z-index: 2;
}


/* ###############################################################
region Document style                                            #
############################################################### */

