/* Base table styling */
.xcsv {
    min-width: 600pt;
}

.NameBox {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  display: table;
}

table.table {
    /* margin-top: 40px; */
    margin-bottom: 20px;
    /* width: 100%; */
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    table-layout: auto;
    /* display: block; */
    overflow-y: scroll;
}

/* Table header styling */
.table th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

/* Table header specific styling */
.table th {
    background-color: #f2f2f2;
    color: #333;
}

.table tr {
    background-color: #fafafa;
}

.table tr:nth-child(even) {
    background-color: #f5fcff;
}


/* tr:hover {
    background-color: #f1f1f1;
} */

/* Table caption styling */
/* caption {
    caption-side: bottom;
    padding: 10px;
    font-style: italic;
    color: #777;
} */

.table th:first-child {
    border-top-left-radius: 8px;
}

.table th:last-child {
    border-top-right-radius: 8px;
}

.table td:first-child {
    border-bottom-left-radius: 8px;
}

.table td:last-child {
    border-bottom-right-radius: 8px;
}


  /* Uncomment for Sticky Table */

  .table th {
    font-weight: bold;
    background-color: lightgray !important;
    position: sticky;
    top: 0px;  
    z-index: 2;
  }

    /* 
  ###########################################################################
  # Gallery Items                                                           #
  ########################################################################### 
  */

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .image-gallery img {
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border: 1px solid #ccc;
  }

      /* 
  ###########################################################################
  # Text Items                                                              #
  ########################################################################### 
  */

  .xcsv-text {
    border: 1px solid #ccc;
  }

  .xcsv-text-summary {
    border: 1px solid #ccc;
  }

  .xcsv-text-description {
    border: 1px solid #ccc;
  }

  /* 
  ###########################################################################
  # Responsive                                                              #
  ########################################################################### 
  */

/* table {max-height: 500pt;}  will be overwritten  */

@media (max-height: 799px) {
    table.table {max-height: 600px;}
}

/* For screens with height between 800px and 1000px */
@media (min-height: 800px) and (max-height: 999px) {
    table.table {max-height: 700px;}
}

/* For screens with height greater than 1000px */
@media (min-height: 1000px) {
    table.table {max-height: 900px;}
}