.myEdit {
    min-height: 50px;
    line-height: 1.5;
    border: 1pt solid black;
}

textarea {
    resize: none;
    overflow: hidden;
    max-height: 500px;
}

.xsvg-link {
    width: 30pt;
    /* height: 30pt; */
    line-height: 10pt;
    display: block;
    float: left;
}

.xsvg-link.xsvg-right {
    /* // parent must have css: position: relative; */
    position: absolute;   
    right: 0px;
}

.xsvg-link.top-0 {
    top: 0px;
}

.xsvg-link.top-30 {
    top: 30px;
}